html, body
{
  height: 100%;
  margin: 0;
}

#header
{
  background-color: #4ecca3;
  color: #FED260;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#content
{
  background-color: #232931;
  color: white;
  padding: 0 2% 2% 2%;
  font-family: 'Roboto', sans-serif;
}

#footer
{
  background-color: #4ecca3;
  color: #FDC456;
  font-size: 14px;
  padding-top: 2%;
  padding-left: 1%;
  padding-bottom: 1%;
  font-family: 'Raleway', sans-serif;
}
